<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <display-name>KgJkinActivityBookingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogInCrewServlet</display-name>
    <servlet-name>LogInCrewServlet</servlet-name>
    <servlet-class>LogInCrewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInCrewServlet</servlet-name>
    <url-pattern>/LogInCrewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpCrewServlet</display-name>
    <servlet-name>SignUpCrewServlet</servlet-name>
    <servlet-class>SignUpCrewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpCrewServlet</servlet-name>
    <url-pattern>/SignUpCrewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPackageServlet</display-name>
    <servlet-name>AddPackageServlet</servlet-name>
    <servlet-class>AddPackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPackageServlet</servlet-name>
    <url-pattern>/AddPackageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddActivityServlet</display-name>
    <servlet-name>AddActivityServlet</servlet-name>
    <servlet-class>AddActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddActivityServlet</servlet-name>
    <url-pattern>/AddActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSlotServlet</display-name>
    <servlet-name>AddSlotServlet</servlet-name>
    <servlet-class>AddSlotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSlotServlet</servlet-name>
    <url-pattern>/AddSlotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSlotServlet</display-name>
    <servlet-name>UpdateSlotServlet</servlet-name>
    <servlet-class>UpdateSlotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSlotServlet</servlet-name>
    <url-pattern>/UpdateSlotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSlotServlet</display-name>
    <servlet-name>DeleteSlotServlet</servlet-name>
    <servlet-class>DeleteSlotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSlotServlet</servlet-name>
    <url-pattern>/DeleteSlotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePackageServlet</display-name>
    <servlet-name>UpdatePackageServlet</servlet-name>
    <servlet-class>UpdatePackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePackageServlet</servlet-name>
    <url-pattern>/UpdatePackageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateActivityServlet</display-name>
    <servlet-name>UpdateActivityServlet</servlet-name>
    <servlet-class>UpdateActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateActivityServlet</servlet-name>
    <url-pattern>/UpdateActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileCrewServlet</display-name>
    <servlet-name>UpdateProfileCrewServlet</servlet-name>
    <servlet-class>UpdateProfileCrewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileCrewServlet</servlet-name>
    <url-pattern>/UpdateProfileCrewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBookingServlet</display-name>
    <servlet-name>CreateBookingServlet</servlet-name>
    <servlet-class>CreateBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBookingServlet</servlet-name>
    <url-pattern>/CreateBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookingServlet</display-name>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <servlet-class>UpdateBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <url-pattern>/UpdateBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookingConfirmation</display-name>
    <servlet-name>UpdateBookingConfirmation</servlet-name>
    <servlet-class>UpdateBookingConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookingConfirmation</servlet-name>
    <url-pattern>/UpdateBookingConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookingServlet</display-name>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <servlet-class>DeleteBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <url-pattern>/DeleteBookingServlet</url-pattern>
  </servlet-mapping>
</web-app>