/* General Styles */
header {
    background-color:#0057b8; /* Aqua blue background */
    color: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

header img {
    height: 50px;
    margin-right: 1rem;
}

.site-header .logo span {
    font-size: 1.5em;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    color: #120902;
}

header h1 {
    font-family:'Arial', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

header nav {
    display: flex;
    gap: 2rem; /* Equal spacing between nav links */
    margin-left: auto; /* Pushes the nav to the right */
}

header nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    margin: 0 15px;
}

.nav-menu ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Verdana', Courier;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: #000000;
}

/* Profile Section */
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Add spacing between profile picture and text */
    padding: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px; /* Adjust size as needed */
    height: 150px;
    object-fit: cover;
    border: 3px solid #ddd; /* Optional: Add a border */
    margin-bottom: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

h1{
    text-align:left ;
}

h2{
    text-align:left ;
}

.profile-info button {
    padding: 0.7rem 1.5rem;
    width: 100%;
    background: #0057b8; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px; /* Add spacing between buttons */
    transition: background 0.3s ease; /* Smooth hover effect */
}



/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0057b8;
    padding: 10px;
}

.footer-container {
    display: flex;
}

.footer-text {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; /* Black text */
    text-align: center;
    padding: 20px;
    flex: 1;
}

.icons {
    display: flex;
    gap: 30px; /* Space between icons */
    justify-content: center; /* Center icons horizontally */
    flex: 1;
}

.icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make images circular */
    object-fit: cover; /* Ensure images fit well within the circle */
    padding: 5px;
}
